footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100px;
    margin-top: 50px;
    p{
        text-align: center;
        color: white;
    }
}