body a {
  color: rgba(255, 68, 0, 0.541);
  text-decoration: none;
  font-size: 35px;
  display: flex;
  text-align: center;
}

body a#add {
  background-color: white;
  margin-left: 50px;
}

body article {
  width: 40vw;
  margin: 20px auto 30px;
  border: solid 1px black;
  padding: 20px;
  border-radius: 30px;
  background-color: rgba(128, 128, 128, 0.5);
}

body form {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
}

body form input, body form textarea {
  width: 500px;
  margin: 20px 0;
  padding: 10px 0;
}

body form input#submit, body form textarea#submit {
  width: 100px;
  color: orangered;
  border: none;
}
