@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
}

.flex {
  display: flex;
}

.container {
  max-width: 1080px;
  margin: auto;
}

header {
  padding: 23px;
  background-image: url(../img/unnamed.gif);
  background-position: center;
  background-size:cover;
  background-repeat:no-repeat;
  text-align: center;
  padding-bottom: 250px;
  color: rgb(22, 22, 22);

}


header nav {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
  text-decoration: none;
}

header nav img {
  width: 60px;
  height: 60px;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li a {
  padding: 7px 10px;
  border-radius: 50px;
  font-size: 35px;
  text-decoration: none;
  color: rgb(22, 22, 22);
}

header nav ul li a:hover {
  color: white;
}

header h1 {
  margin-bottom: 25px;
  letter-spacing: 20px;
  font-size: 200px;
  font-family: fantasy;
  color: rgb(22, 22, 22);
}

main section.crew {
  margin-top: 100px;
  margin-bottom: 100px;
  align-items: center;
}

main section.crew img {
  height: 250px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

main section.crew article {
  margin-left: 50px;
}

main section.crew article h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

main section.story {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

main section.story img {
  height: 100px;
  margin-bottom: 20px;
}

main section.story h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
